
.wrap {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.header-menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.header-menu li {
    padding-right: 14px;
}

input,button {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    appearance: none;
}

.booth {
    width: 200px;
    height: 120px;
    position: relative;
    border: 2px solid #333;
}

.button {
    background: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 18px;
}

.button:hover {
    cursor: pointer;
}
